@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-dark: #161513;
    --color-dark-min: #1e1e1d;
    --color-gray: #a3a3a3;
    --color-light: #e4e4e4;
    --color-purble: #8338ec;
    --color-pink: #f72585;
    --max-width: 100vw;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    transition: 0.3s;
    color: inherit;
}

ul {
    list-style: none;
}

html,body {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
    overflow-x: hidden;
}

.header {
    position: sticky;
    left: 0;
    top: 0;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark-min);
}

.nav {
    position: fixed;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    z-index: -1;
}

.logo__name {
    font-size: 2rem;
}

.logo__name--reffer {
    color: var(--color-purble);
}

.nav__menu_btn {
    font-size: 2rem;
    cursor: pointer;
}

#menu-btn {
    display: none;
}



.nav__links {
    position: static;
    top: 125%;
    left: 0%;
    width: 100vw;
    padding: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
    background-color: transparent;
    transition: 0.5s;
    color: var(--color-gray);
}



.nav__links.open {
    transform: translateY(0);
}

.nav__links a {
    position: relative;
    padding: 5px;
}

.nav__links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-light);
    transform: scaleX(0);
    transition: 0.5s;
}

.nav__links a:hover {
    color: var(--color-light);
}

.nav__links a:hover::after {
    transform: scaleX(1);
}

section {
    display: flex;
    min-height: 100vh;
}

article,picture {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

article {
    flex-direction: column;
}

.wrapper {
    text-align: center;
    width: 60%;
}

.article__tag {
    background-color: var(--color-purble);
    padding: 4px 5px;
    border-radius: 6px;
}

.article__title {
    font-size: clamp(2.5rem, 5vw ,4rem);
}

.article__title--reffer {
    color: var(--color-purble);
}

picture img {
    height: clamp(15em, 50vw ,25em);
    width: clamp(15em, 50vw ,25em);
    border-radius: 50%;
    z-index: -1;
    border: 5px solid var(--color-dark-min);
}

.social {
    display: flex;
    gap: 2em;
    padding: 2em;
}

.social__icon i {
    font-size: 1.8rem;
    cursor: pointer;
    transition: 0.5s;
}

.social__icon:nth-child(1):hover {
    color: var(--color-purble);
}

.social__icon:nth-child(2):hover {
    color: #dd2a7b;
}

.social__icon:nth-child(3):hover {
    color: #0077b5;
}
